*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, arial, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
}





header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 7px;
}

ul li a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

ul li a:hover{
  background-color: var(--destaque-inverso);
}





main{
  display: grid;
  grid-template-columns: 0.5fr 9fr 0.5fr;
}

section#ficha{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2 / 3;
  margin: 20px 0;
  gap: 20px;
}

main section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--fundo-principal);
  outline: 4px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

main section#ficha h1{
  color: var(--destaque);
  margin: 15px 0;
  font-size: 2rem;
  text-align: center;
}

main section#ficha p{
  text-align: center;
  margin-bottom: 15px;
}

div#social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.8em;
}

div#social a{
  color: var(--destaque);
  transition: color 0.4s;
}

div#social a:hover{
  color: var(--destaque-inverso);
}

section#detalhes{
  grid-column: 2 / 3;

}

article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;

}

article h2{
  color: var(--destaque);
  margin: 40px 0;
  font-size: 1.8rem;
  text-align: center;
}

article#video .video-container{
  position: relative;
  width: 85%;
  margin: auto;
  aspect-ratio: 16/9;
}

.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





div.container-habilidades{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media screen and (min-width: 768px){
  div.container-habilidades{
    grid-template-columns: 1fr 1fr;
}
}

div.container-habilidades div.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container-habilidades .nome{
  font-weight: bold;
  color: var(--texto);
}

div.container-habilidades .porcentagem{
  font-weight: bold;
  color: var(--destaque);
}

div.container-habilidades .barra{
  width: 100%;
  height: 10px;
  background-color: var(--fundo-principal);
  border-radius: 5px;
}

div.container-habilidades .progresso{
  background-color: #0077ff;
  height: 100%;
  border-radius: 5px;
}





div#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

div#formacao-container div.curso{
  background-color: var(--fundo-principal);
  border-radius: 10px;
  border-left: 5px solid var(--destaque-inverso);
  padding: 20px 0 20px 15px;
  transition: border 0.1s, color 0.1s;
}

div#formacao-container div.curso:hover{
  border-left: 8px solid var(--destaque);
  cursor: pointer;
}

div#formacao-container p.periodo{
  color: #0077ff;
  font-weight: bold;
}

div#formacao-container h3.instituicao{
  color: #0077ff;
  font-size: 1.2rem;
}